<form class="" [formGroup]="formGroupProfile" (ngSubmit)="register()">
  <div class="">
    <input
    class=""
    type="file"
    formControlName="photo">
  </div>

  <div>
    <input
    class=""
    formControlName="name"
    placeholder="">

    <app-message-alert
    messageAlert="Required name."
    *ngIf="
    formGroupProfile.get('name')?.errors?.['required'] &&
    formGroupProfile.get('name')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="Digite your name in uppercase."
    *ngIf="
    formGroupProfile.get('name')?.errors?.['IslowerCase'] &&
    formGroupProfile.get('name')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="This field must contain only letters, with three letters or more."
    *ngIf="
    formGroupProfile.get('name')?.errors?.['itsNotLyric'] &&
    formGroupProfile.get('name')?.touched">
    </app-message-alert>
  </div>

  <div>
    <input
    class=""
    formControlName="telephone"
    placeholder="">

    <app-message-alert
    messageAlert="Required telephone"
    *ngIf="
    formGroupProfile.get('telephone')?.errors?.['required'] &&
    formGroupProfile.get('telephone')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="Telephone with incorrect format"
    *ngIf="
    formGroupProfile.get('telephone')?.errors?.['incorrectFormat'] &&
    formGroupProfile.get('telephone')?.touched">
    </app-message-alert>
  </div>

  <div>
    <select
    class=""
    formControlName="uf"
    placeholder=""
    (ngModelChange)="currentState($event)"
    *ngIf="federationUnits; else serverError">
        <option
        *ngFor="let state of federationUnits"
        [ngValue]="state">
          <p class="">
            {{ state.nome }}
          </p>
        </option>
    </select>

  </div>

  <div>
    <select
    class=""
    formControlName="city"
    placeholder=""
    *ngIf="cities; else serverError">
      <option
      *ngFor="let city of cities"
      [ngValue]="city.nome">
        <p class="">
          {{ city.nome }}
        </p>
      </option>
    </select>
  </div>

  <div>
    <textarea
    class=""
    formControlName="about"
    placeholder="">
    </textarea>
  </div>

  <button type="submit">Salvar</button>
</form>

<ng-template class="" #serverError>
  Internal Server Error. Response code 500.
</ng-template>
