<form class="" [formGroup]="formGroupRegister">
  <div class="">
    <input
    class=""
    formControlName="email"
    placeholder="Ex: nome@gmail.com">

    <app-message-alert
    messageAlert="Digite seu email para se cadastrar."
    *ngIf="
      formGroupRegister.get('email')?.errors?.['required'] &&
      formGroupRegister.get('email')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="Seu email está com formato incorreto."
    *ngIf="
      formGroupRegister.get('email')?.errors?.['email'] &&
      formGroupRegister.get('email')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="Email já cadastrado. Por favor, use outro."
    *ngIf="
      formGroupRegister.get('email')?.errors?.['userExists']">
    </app-message-alert>
  </div>

  <div class="">
    <input
    class=""
    formControlName="name"
    placeholder="Nome">

    <app-message-alert
    messageAlert="Digite como deseja ser chamado."
    *ngIf="
      formGroupRegister.get('name')?.errors?.['required'] &&
      formGroupRegister.get('name')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="Deve conter no mínimo 3 letras."
    *ngIf="
      formGroupRegister.get('name')?.errors?.['minLength'] &&
      formGroupRegister.get('name')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="Digite tudo em minúsculo."
    *ngIf="
      formGroupRegister.get('name')?.errors?.['lowerCase'] &&
      formGroupRegister.get('name')?.touched">
    </app-message-alert>
  </div>

  <div class="">
    <input
    type="password"
    class=""
    formControlName="password"
    placeholder="Senha">

    <app-message-alert
    messageAlert="Senha requirida"
    *ngIf="
      formGroupRegister.get('password')?.errors?.['required'] &&
      formGroupRegister.get('password')?.touched">
    </app-message-alert>
  </div>

  <div class="">
    <input
    type="password"
    class=""
    formControlName="confirmPassword"
    placeholder="Confirma senha">

    <app-message-alert
    messageAlert="Confirme sua senha."
    *ngIf="
      formGroupRegister.get('confirmPassword')?.errors?.['required'] &&
      formGroupRegister.get('confirmPassword')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="As senhas digitadas não são iguais"
    *ngIf="
      formGroupRegister?.errors?.['differentPassword']">
    </app-message-alert>
  </div>

  <button (click)="register()">Enviar</button>
</form>
