<form class="" [formGroup]="formGroupRegister">
  <div class="">
    <input
    class=""
    formControlName="email"
    placeholder="">

    <app-message-alert
    messageAlert="Required email"
    *ngIf="
      formGroupRegister.get('email')?.errors?.['required'] &&
      formGroupRegister.get('email')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="Email with incorrect format"
    *ngIf="
      formGroupRegister.get('email')?.errors?.['email'] &&
      formGroupRegister.get('email')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="Email already registered. Please, use another."
    *ngIf="
      formGroupRegister.get('email')?.errors?.['userExists']">
    </app-message-alert>
  </div>

  <div class="">
    <input
    class=""
    formControlName="name"
    placeholder="">

    <app-message-alert
    messageAlert="Required name"
    *ngIf="
      formGroupRegister.get('name')?.errors?.['required'] &&
      formGroupRegister.get('name')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="Quantity minimum characters 3"
    *ngIf="
      formGroupRegister.get('name')?.errors?.['minLength'] &&
      formGroupRegister.get('name')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="Please, digite your name in lowercase"
    *ngIf="
      formGroupRegister.get('name')?.errors?.['lowerCase'] &&
      formGroupRegister.get('name')?.touched">
    </app-message-alert>
  </div>

  <div class="">
    <input
    type="password"
    class=""
    formControlName="password"
    placeholder="">

    <app-message-alert
    messageAlert="Required password"
    *ngIf="
      formGroupRegister.get('password')?.errors?.['required'] &&
      formGroupRegister.get('password')?.touched">
    </app-message-alert>
  </div>

  <div class="">
    <input
    type="password"
    class=""
    formControlName="confirmPassword"
    placeholder="">

    <app-message-alert
    messageAlert="required confirm password"
    *ngIf="
      formGroupRegister.get('confirmPassword')?.errors?.['required'] &&
      formGroupRegister.get('confirmPassword')?.touched">
    </app-message-alert>

    <app-message-alert
    messageAlert="The passwords are not the same"
    *ngIf="
      formGroupRegister?.errors?.['differentPassword']">
    </app-message-alert>
  </div>

  <button (click)="register()">Enviar</button>
</form>
