<form class="" (ngSubmit)="login()" #loginForm="ngForm">
  <div>
    <input
    class=""
    [(ngModel)]="email"
    placeholder="Ex: nome@gmail.com"
    #fieldEmail="ngModel"
    name="email"
    required>

    <app-message-alert
    messageAlert="Email requirido"
    *ngIf="fieldEmail.invalid && fieldEmail.touched">
    </app-message-alert>
  </div>

  <div>
    <input
    type="password"
    class=""
    [(ngModel)]="password"
    placeholder="Senha"
    #fieldPassword="ngModel"
    name="password"
    required>

    <app-message-alert
    messageAlert="Senha requirida"
    *ngIf="fieldPassword.invalid && fieldPassword.touched">
    </app-message-alert>
  </div>

  <button
  (click)="login()"
  [disabled]="loginForm.invalid">Login</button>
</form>
