<h2 mat-dialog-title>Profile Pet</h2>

<form>
  <div>
      <label>Nome: </label>
      <p>{{ data.animal.name }}</p>
  </div>

  <div>
      <label>Idade: </label>
      <p>{{ data.animal.age }}</p>
  </div>

  <div>
      <label>Porte: </label>
      <p>{{ data.animal.size }}</p>
  </div>

  <div>
      <label>Características: </label>
      <p>{{ data.animal.characteristics }}</p>
  </div>

  <div>
      <label>Cidade: </label>
      <p>{{ data.animal.city }}</p>
  </div>

  <ng-content *ngTemplateOutlet="templateRefButton"></ng-content>
</form>
